USE [master]
GO
/****** Object:  Database [TP09 REPOSITORY]    Script Date: 15/11/2022 12:05:02 ******/
CREATE DATABASE [TP09 REPOSITORY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP09 REPOSITORY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP09 REPOSITORY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP09 REPOSITORY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP09 REPOSITORY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP09 REPOSITORY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP09 REPOSITORY]
GO
/****** Object:  User [alumno]    Script Date: 15/11/2022 12:05:02 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Carpeta]    Script Date: 15/11/2022 12:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carpeta](
	[IdCarpeta] [int] IDENTITY(1,1) NOT NULL,
	[pIdCarpetaDondeFueCreada] [int] NULL,
	[IdUsuario] [int] NOT NULL,
	[NombreCarpeta] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Folder] PRIMARY KEY CLUSTERED 
(
	[IdCarpeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 15/11/2022 12:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documento](
	[idDoc] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[IdCarpeta] [int] NOT NULL,
	[NombreDoc] [varchar](50) NOT NULL,
	[TipoDoc] [varchar](50) NOT NULL,
	[TiempoSubida] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Documento] PRIMARY KEY CLUSTERED 
(
	[idDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/11/2022 12:05:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carpeta] ON 

INSERT [dbo].[Carpeta] ([IdCarpeta], [pIdCarpetaDondeFueCreada], [IdUsuario], [NombreCarpeta]) VALUES (3, NULL, 1, N'CarpetaPrincipal')
SET IDENTITY_INSERT [dbo].[Carpeta] OFF
GO
SET IDENTITY_INSERT [dbo].[Documento] ON 

INSERT [dbo].[Documento] ([idDoc], [idUsuario], [IdCarpeta], [NombreDoc], [TipoDoc], [TiempoSubida]) VALUES (1, 1, 3, N'frutilla.psd', N'application/octet-stream', N'11-15-2022')
SET IDENTITY_INSERT [dbo].[Documento] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [Nombre], [mail], [Contraseña], [Foto]) VALUES (1, N'pepe', N'pepe@gmail.com', N'1', NULL)
INSERT [dbo].[Usuario] ([idUsuario], [Nombre], [mail], [Contraseña], [Foto]) VALUES (2, N'sas', N'sas@gmail.com', N'2', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Carpeta]  WITH CHECK ADD  CONSTRAINT [FK_Carpeta_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Carpeta] CHECK CONSTRAINT [FK_Carpeta_Usuario]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [FK_Documento_Carpeta] FOREIGN KEY([IdCarpeta])
REFERENCES [dbo].[Carpeta] ([IdCarpeta])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [FK_Documento_Carpeta]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [FK_Documento_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [FK_Documento_Usuario]
GO
USE [master]
GO
