@{
    ViewData["Title"] = "Crear cuenta";
}
<div class="row">
  <div class="col-lg-4 col-md-3 col-sm-2"></div>
  <div class="col-lg-4 col-md-6 col-sm-8">

<div class=" divsesion"> @* text-center *@
    <div class="p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Email</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- Usuario input -->
        <div class="form-outline mb-4">
          <input type="text" id="form2Example1" class="form-control">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Nombre de Usuario</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Contraseña</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

         <!-- En el HC compara las contraseñas. Si esta mal devuelve error y tiene que volver a ingresar supongo manteniendo los datos correctos -->

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="Password" id="form2Example2" class="form-control">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Repetir contraseña </label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">


        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Crear cuenta</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Ya tenes cuenta? <a href='@Url.Action("Index","home")'>Iniciar sesion</a></p>
        </div>
      </form>
    </div>
</div>

  </div>
  <div class="col-lg-4 col-md-3 col-sm-2"></div>
</div>


