@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<section class="w-100">
    <div class="divsesion p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Email address</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- User input -->
        <div class="form-outline mb-4">
          <input type="Username" id="form2Example1" class="form-control">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Username</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Password</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- En el HC compara las contraseñas. Si esta mal devuelve error y tiene que volver a ingresar supongo manteniendo los datos correctos -->

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="RepeatPassword" id="form2Example2" class="form-control">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Repeat Password</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Register</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Already have an account? <a href="#!">Sign in</a></p>
        </div>
      </form>
    </div>
    </section>
</div>
