@{
    ViewData["Title"] = "Home Page";
}
<!-- Lista carpetas con boton que te mande a su contenido  ARREGLAR TAMAÑO Y LUGAR-->
<div class="col-3 divlistaarchivos ">
  <button type="button" class="btn btn-primary btn-block mb-4">NUEVO</button>
</div>
<!-- Buscar x Nombre -->
<div class="col-9">
  <form action="." method="post" target="_blank">
  <p>
    Buscar documento: <input type="search" name="busquedaDoc" placeholder="Buscar...">
    <input type="submit" value="Buscar">
  </p>
</form>
</div>

<!-- Lista carpetas con boton que te mande a su contenido -->
<!-- Lista contenido -->
<!-- Boton crear nuevo documento / -->
<!-- Boton perfil -->