@{
    ViewData["Title"] = "Home Page";
}
<!-- Lista carpetas con boton que te mande a su contenido -->
<div class="col-2  divlistaarchivos">
    <form action="" method="post" enctype="multipart/form-data">
      <label for="SubirArchivo" class="btn btn-secondary btn-lg btn-block active">Nuevo</label>
      <input id="SubirArchivo" type="file" name="" style="visibility:hidden;" onclick="MostrarArchivo()">
    </form> 
    <div class="">
      @{
          if(ViewBag.ListaCarpetas.Count != 0)
          {
            foreach(Carpeta archivo in ViewBag.ListaCarpetas){
              <ul>
              <li class="list-group-item disabled"><p>@archivo.NombreCarpeta</p></li>
              </ul>
            }
          }else{
            <P>No hay archivos todavia</P>
          }
        } 
    </div>
</div>


<!-- Buscar x Nombre -->
<div class="navbarr row col-9">
  <div class="col-6"style="float: left;">
  <form action="." method="post" target="_blank">
  <p>
    Buscar documento: <input type="search" name="busquedaDoc" placeholder="Buscar...">
    <input type="submit" value="Buscar">
  </p>
</form>
</div>
<!-- Boton perfil -->
<a href='@Url.Action("Perfil","Home")' class="perfil" style="background-image: url(https://s1.eestatic.com/2020/05/18/como/gatos-mascotas-trucos_490961518_152142875_1706x960.jpg);width:90px"></a>

<!-- Boton cerrar sesión -->

</div>

