@{
    ViewData["Title"] = "Home Page";
}

<!-- Buscar x Nombre -->
<form action="." method="post" target="_blank">
  <p>
    Buscar documento: <input type="search" name="busquedaDoc" placeholder="Buscar...">
    <input type="submit" value="Buscar">
  </p>
</form>
<!-- Lista carpetas con boton que te mande a su contenido -->
<!-- Lista contenido -->
<!-- Boton crear nuevo documento / -->
<!-- Boton perfil -->